/* GLOBAL */
body{
font-family: 'Open Sans', sans-serif;	
}
/* NAV */
a:link {
  color: #4AA2D9;
  text-decoration: none;
}
a:visted {
  color: #F2994B;
  
}
a:focus {
  border: 2px sold red;
  
}
a:hover {
  background: #A64826;
}
a:active {
  background: #123159;
  color: #F2994B
}
/* HOME PAGE */


/* BIO PAGE */
.bio h2,
.bio h3 {
	font-family: 'Arial Narrow', Arial, sans-serif;
}

.bio h1 {
text-transform: uppercase;
letter-spacing: 2px;
}
article {
background: red;
margin: 0 auto;
width: 1000px;
}
header {
	width: 1000px;
}
.col1 .col2, {
float: left;

}
.col1 {
width: 300px;
}
col2 {
width: 700px;
}
.clearfix {
	clear: both;
}


/* STYLE TILE */